# Debug folders
Mootra.Android/bin/Debug
Mootra.Android/obj/Debug
Mootra/bin/Debug
Mootra/obj/Debug

# Stylecop
Settings.StyleCop
Mootra/Settings.StyleCop
Mootra/StyleCop.Cache
Mootra.Android/Settings.StyleCop
Mootra.Android/StyleCop.Cache

# MacOS
.DS_Store