@namespace Mootra.Blazor.Components

<h1>@this.Title</h1>

@code
{
    /// <summary>
    /// Gets or initialize the header's title.
    /// </summary>
    [Parameter]
    public string Title { get; init; }
}
