.page-layout {
	display: grid;
	grid-template-rows: 25vh 75vh;
}

.page-header {
	height: 25vh;
	padding: 0 16px;

	h1 {
		font-size: 2.25rem;
	}
}

.page-main {
	-moz-border-radius: 32px 32px 0 0;
	-webkit-border-radius: 32px 32px 0 0;
	border-radius: 32px 32px 0 0;
}

.card {
	-webkit-text-decoration: none;
	text-decoration: none;

	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
}